#page_navigation {
  color: #6a6a6a;
  size: 24px
}

#social_links {
  color: #6a6a6a;
  size: 24px
}

body {
  color: #6a6a6a;
  background: #f1f0f0;
}

p {
  margin: 0 0 20px 0;
    font-family: 'Open Sans', sans-serif;
  }

img {max-width: 100%;}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Alegreya Sans';
  color: #3A4F52;
  margin: 10px 50px;
}
